<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="OshoosiClaw EDR Agent"
             Manufacturer="Oshoosi Security"
             Version="0.1.1"
             UpgradeCode="8f219b6e-c764-4e20-94b2-c0e0b3c6b12a"
             Scope="perMachine">

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="OshoosiClaw">
                <Component Id="MainExecutable" Guid="3e0d8694-5ef8-4903-b1da-5847fa2c03cf" Bitness="always64">
                    <File Id="OsoosiExe" Source="target\release\osoosi.exe" KeyPath="yes" />
                    <Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
                </Component>

                <Component Id="OnnxRuntimeDll" Guid="d2a71bf5-7798-4c17-9154-374cf1ec1b73" Bitness="always64">
                    <File Id="OnnxRuntimeFile" Source="onnxruntime.dll" KeyPath="yes" />
                </Component>

                <Component Id="ConfigFile" Guid="9dbd0738-9582-4f36-9a2c-f67e2a96f120" Bitness="always64">
                    <File Id="OsoosiToml" Source="osoosi.toml" KeyPath="yes" />
                </Component>

                <Component Id="ConfigSig" Guid="e3498bb7-f236-419b-b0b9-5ebec7dc7531" Bitness="always64">
                    <File Id="ConfigSigFile" Source="osoosi.toml.sign" KeyPath="yes" />
                </Component>

                <Directory Id="ConfigDir" Name="config">
                    <Component Id="ConfigFiles" Guid="7a4f912c-3b18-4e89-9a2c-f67e2a96f121" Bitness="always64">
                        <File Id="SysmonDnsXml" Source="config\sysmon-dns.xml" KeyPath="yes" />
                        <File Id="SysmonExportXml" Source="config\sysmonconfig-export.xml" />
                        <File Id="OpenShellPolicy" Source="config\openshell-policy.yaml" />
                        <File Id="OpenShellPolicySig" Source="config\openshell-policy.yaml.sign" />
                        <File Id="FirewallAllowlist" Source="config\firewall_allowlist.txt" />
                        <File Id="FirewallAllowlistSig" Source="config\firewall_allowlist.txt.sign" />
                        <File Id="MitreCatalogJson" Source="config\mitre_attack_catalog.json" />
                        <File Id="MitreCatalogJsonSig" Source="config\mitre_attack_catalog.json.sign" />
                        <File Id="StixAtlasAttackJson" Source="config\stix-atlas-attack-enterprise.json" />
                        <File Id="StixAtlasAttackJsonSig" Source="config\stix-atlas-attack-enterprise.json.sign" />
                    </Component>
                </Directory>

                <Directory Id="DashboardDistDir" Name="dashboard">
                    <Directory Id="DistDir" Name="dist">
                        <Component Id="DashboardAssets" Guid="b4834928-86d1-4475-ba62-ec72f5d918b4" Bitness="always64">
                            <File Id="DashIndex" Source="dashboard\dist\index.html" KeyPath="yes" />
                            <File Id="DashApp" Source="dashboard\dist\app.js" />
                            <File Id="DashStyle" Source="dashboard\dist\style.css" />
                            <File Id="DashFavicon" Source="dashboard\dist\favicon.svg" />
                            <File Id="DashMitreCatalog" Source="dashboard\dist\mitre_attack_catalog.json" />
                            <File Id="DashStixAtlasAttack" Source="dashboard\dist\stix-atlas-attack-enterprise.json" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </StandardDirectory>

        <Feature Id="MainFeature" Title="OshoosiClaw Agent Core" Level="1">
            <ComponentRef Id="MainExecutable" />
            <ComponentRef Id="OnnxRuntimeDll" />
            <ComponentRef Id="ConfigFile" />
            <ComponentRef Id="ConfigSig" />
            <ComponentRef Id="ConfigFiles" />
            <ComponentRef Id="DashboardAssets" />
        </Feature>
    </Package>
</Wix>
